@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

:root {
    --primary-color: #5b78c7;
    font-family: 'Gaegu', cursive;
}

header {
    width: 100%;
    height: 56px;
    margin: 0;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

header > div {
    width: 100%;
    max-width: 900px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

div > .logo {
    margin-left: 25px;
}

nav {
    width: auto;
    height: 100%;
}

nav .hamburger {
    display: none;
}

nav .nav-links {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    z-index: 9;
}

.nav-links li {
    padding: 10px 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

/* estilos del componente Card */

.container {
    display: grid;
    width: 100%;
    margin: 20px auto;
    max-width: 920px;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px 5px;
}

.card {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.card-header {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.status {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-header img {
    width: auto;
    height: 100%;
}

.card-body {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.card-body p {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* loaders */

.lds-grid {
    display: inline-block;
    position: relative;
    grid-column-start: 2;
    align-self: center;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary-color);
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 920px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
    }

    .lds-grid {
        grid-column-start: 1;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    div > .logo {
        margin: 0;
    }

    nav .hamburger {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 25px;
        bottom: 25px;
        background-color: var(--primary-color);
        cursor: pointer;
        z-index: 999;
    }

    .hamburger:nth-child(1) {
        font-size: 2em;
        color: white;
    }

    nav .nav-links {
        position: fixed;
        background-color: var(--primary-color);
        margin: 0;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s ease-out;
        z-index: 500;
        clip-path: circle(0px at 85% 92%);
        -webkit-clip-path: circle(0px at 85% 92%);
        pointer-events: none;
    }

    nav .nav-links.active {
        clip-path: circle(1000px at 85% 92%);
        -webkit-clip-path: circle(1000px at 85% 92%);
        pointer-events: all;
    }

    nav .nav-links li {
        opacity: 0;
    }

    nav .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.6s;
    }
    
    nav .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    nav .nav-links li.open {
        opacity: 1;
    }
}